body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
span{
    color: orange;
}
section{

    display: flex;
    margin-bottom: 150px;
}
.firstdiv{
    padding-left: 5%;
    width: 50%;
}
.first-para{
    color: gray;
    padding-bottom: 10px;
}
.firstdiv img{
    width: 50%;
    padding-right: 10%;
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}
.second-div{
    padding-top: 115px;
    padding-bottom: 20px;
 
    
}
.second-para{
    padding-bottom: 20px;
}
.about-me{
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 150px;
}
.recipi{
    text-align: center;
    margin: 0% 40% 0% 40%;
}
.font-color{
    color: gray;
}
.project-cover{
    width: 50%;
    box-shadow: 10px 10px 10px 10px rgb(212, 207, 207);
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    
}
.imag{
    
    border-radius: 4px;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
}
.bonus{
    margin: auto;
    width: 50%;
    box-shadow: 5px 5px 5px 5px grey;
    border-radius: 30px;
    padding: 10px;
    
}
.box-contant{
    text-align: center;
    margin: auto;
}
.bonus{
    margin-bottom: 5%;
}
footer{
    background-color: black;
    text-align: center;
    padding: 5%;
}
.f-color{
    color: grey;
}
.text-color{
    color: white;
}